<h1>Stupid Coaching</h1>

<div class = card>
  <p> <%= @questions %> </p>
  <p> -You </p>
</div>

<div class = card2>
  <p> <%= @answers %> </p>
  <p>-Your Coach</p>
  <%= link_to "Ask another question", "/ask" %>
</div>
